main{
    width: 80%;
    height: 80vh;
    margin: 5vh auto;
    background-color: aliceblue;
    border-radius: 1.5rem;
    padding: 2.5rem;
}

.body{
    display: flex;
    width: 100%;
    gap: 1.5rem;
}