<main>
  <app-header [items]="headerButtons()"></app-header>
  <div class="body">
    <app-body-main bttonTitle="Read more">
      <span class="heading">The Bright Future of Web 3.0?</span>
      We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of
      the
      people.
      But is it really fulfilling its promise?
    </app-body-main>
    <app-body-navigation [items]="navItems()"></app-body-navigation>
  </div>
  <app-footer-section [items]="footerItems()"></app-footer-section>
</main>